@model IEnumerable<FirstMVC5App.Model.Models.APP_BOOK>

@{
    ViewBag.Title = "Книги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="btn_add">
    @Html.ActionLink(" ", 
                    "Create", 
                    null, 
                    new
                    {
                        @class = "tool_type_book btn glyphicon glyphicon-plus-sign",
                        data_toggle = "tooltip",
                        data_placement = "top",
                        title = "Добавить новую книгу"
                    })
</p>
<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GANRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GANRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td>
                @Html.ActionLink(" ", 
                                "Edit", 
                                new { id = item.ID }, 
                                new {
                                    @class = "tool_type_book book_edit glyphicon glyphicon-pencil", 
                                    data_toggle="tooltip", 
                                    data_placement="top",
                                    title = String.Format("Редактировать книгу \"{0}\"", item.NAME)
                                }) |
                @Html.ActionLink(" ", 
                                "Details", 
                                new { id = item.ID }, 
                                new
                                {
                                    @class = "tool_type_book book_details glyphicon glyphicon-file",
                                    data_toggle = "tooltip",
                                    data_placement = "top",
                                    title = String.Format("Просмотреть книгу \"{0}\"", item.NAME)
                                }) |
                @Html.ActionLink(" ", 
                                "Delete", 
                                new { id = item.ID }, 
                                new
                                {
                                    @class = "tool_type_book book_delete glyphicon glyphicon-trash",
                                    data_toggle = "tooltip",
                                    data_placement = "top",
                                    title = String.Format("Удалить книгу книгу \"{0}\"", item.NAME)
                                })
            </td>
        </tr>
    }

</table>
